
.icon-spin6:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-volume-off:before { content: '\e802'; } /* '' */
.icon-volume-down:before { content: '\e803'; } /* '' */
.icon-volume-up:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e805'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e806'; } /* '' */
.icon-shuffle:before { content: '\e807'; } /* '' */
.icon-to-start-alt:before { content: '\e808'; } /* '' */
.icon-to-end-alt:before { content: '\e809'; } /* '' */
.icon-pause:before { content: '\e80a'; } /* '' */
.icon-stop:before { content: '\e80b'; } /* '' */
.icon-play:before { content: '\e80c'; } /* '' */
.icon-to-end:before { content: '\e80d'; } /* '' */
.icon-to-start:before { content: '\e80e'; } /* '' */
.icon-sliders:before { content: '\e80f'; } /* '' */
.icon-align-justify:before { content: '\e810'; } /* '' */
.icon-exchange:before { content: '\e811'; } /* '' */
.icon-loop:before { content: '\e812'; } /* '' */
.icon-switch:before { content: '\e813'; } /* '' */
.icon-shuffle-1:before { content: '\e814'; } /* '' */
.icon-play-1:before { content: '\e815'; } /* '' */
.icon-stop-1:before { content: '\e816'; } /* '' */
.icon-pause-1:before { content: '\e817'; } /* '' */
.icon-record:before { content: '\e818'; } /* '' */
.icon-to-end-1:before { content: '\e819'; } /* '' */
.icon-to-start-1:before { content: '\e81a'; } /* '' */
.icon-fast-forward:before { content: '\e81b'; } /* '' */
.icon-fast-backward:before { content: '\e81c'; } /* '' */
.icon-music:before { content: '\e81d'; } /* '' */